



<div class="row PosicionRelativa">
    <div class="col-lg-6 col-md-6 col-sm-12 ContenedorImagen bg-success ImagenInicio">
        <!--<img class="ImagenAjustada" src="~/Imagenes/MiPrimerAlbum.png" />-->

    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 FondoDerecho d-flex justify-content-center align-items-sm-center align-items-lg-start align-items-md-start flex-column p-2 ">
        <div class="marginLeftInicioPortada">
            <p class="LetraCursiva ">Personalizado</p>
            <div class="justify-content-start">

                <h1 class="LetraGrandePortada">Tu</h1>
                <h1 class="LetraGrandePortada">album</h1>
                <h1 class="LetraGrandePortada">ideal</h1>
                <button class="btnPortadaNaranja">Comprar</button>
            </div>
        </div>



    </div>

</div>
<div class="row">
    <div class="col-2">

    </div>
    <div class="col-8 FondoGrisUp">

    </div>
    <div class="col-2">

    </div>

</div>

<div class="row mt-2">
    <div class="col-1 mt-2">

    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 ContenedorEnvioGratuito d-flex justify-content-center align-items-center mt-2 p-2 me-2">

        <div class="ContenedorBoxMensaje VentanaEnvioGratuito flex-column d-flex justify-content-center align-items-center">
            <p class=" LetraCursiva text-center">Siempre</p>
            <h2 class="letraGrande">Envío gratuito</h2>
            <p class="text-center"><a class="text-center">Comprar ahora</a></p>
        </div>

    </div>

    <div class="col-lg-5 col-md-5 col-sm-12 ContenedorDescuento d-flex justify-content-center align-items-center mt-2 p-2 me-2">
        <div class="ContenedorBoxMensaje flex-column VentanaNoPierdas d-flex justify-content-center align-items-center">
            <p class="text-center LetraCursiva">No te lo pierdas</p>
            <h2 class="letraGrande text-center">15% de descuento al registrarte</h2>
            <button class="btnPortadaCeleste">Registrate</button>

        </div>

    </div>
    <div class="col-1 mt-2">

    </div>


</div>





<div class="row mt-2">
    <div class="col-lg-2 col-md-2">

    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 FondoGris">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center align-items-center flex-column ">
                <div class="align-flex-start sm-alinear-centro">
                    <h1 class="letraGrandeCuerpoInicio">Materiales de</h1>
                    <h1 class="letraGrandeCuerpoInicio">primera</h1>
                    <p class="LetraCursiva" style="font-size:40px">Hermoso</p>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 sm-alinear-centro">
                        <p class="">Toque y sienta como el vinil robustese y le da vida al album. Explore las páginas decoradas con piezas de madera y diseños impresos en papel fotografico llenando de color sus diseños. </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">

                    </div>

                </div>

            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div id="carouselExampleControls" class="carousel slide marginLeftCarousel" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item ContenedorImagenesCarrousel item  active">
                            <img src="~/Imagenes/Car1.png" class="d-block ImagenAjustaCarousel w-100" alt="...">
                        </div>
                        <div class="carousel-item ContenedorImagenesCarrousel item">
                            <img src="~/Imagenes/Car2.jpg" class="d-block ImagenAjustaCarousel w-100" alt="...">
                        </div>
                        <div class="carousel-item ContenedorImagenesCarrousel item">
                            <img src="~/Imagenes/C4.jpg" class="d-block ImagenAjustaCarousel w-100" alt="...">
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-lg-6 col-sm-12 col-md-6 ">
                <div class="ContainerColeccion d-flex justify-content-center align-items-center flex-column SacaBoxIzquierda">
                    <img src="~/Imagenes/Unicornio.jpg" class="ImagenAjustadaColeccion " />
                    <h2 class="marginTop30">COLECCIÓN</h2>
                    <h2>NIÑOS</h2>
                </div>

            </div>
            <div class="col-lg-6  col-md-6">

            </div>


            <div class="col-lg-6 col-sm-12 col-md-6 ">
                <div class="ContainerColeccion d-flex justify-content-center align-items-center flex-column SacaBoxDerecha ">
                    <img src="~/Imagenes/Zarcero.jpg" class="ImagenAjustadaColeccion " />
                    <h2 class="marginTop30">COLECCIÓN</h2>
                    <h2>AVENTURA</h2>
                    <a>Explorar</a>
                </div>

            </div>
            <div class="col-lg-6  col-md-6">

            </div>

            <div class="col-lg-12 col-sm-12 col-md-12 ">
                <div class=" d-flex justify-content-center align-items-center flex-column ContainerColeccionLove">
                    <img src="~/Imagenes/Love.jpg" class="ImagenAjustadaLove " />
                    <h2 class="marginTop30">COLECCIÓN</h2>
                    <h2>NOVIOS</h2>
                    <a>Explorar</a>
                </div>

            </div>
            <div class="col-lg-6  col-md-6">

            </div>


        </div>
       
    </div>


   

    <div class="col-lg-2 col-md-2">

    </div>



</div>





<style>
    .ImagenAjustadaLove {
        width: 60vw;
        height: 70vh;
        margin-top: 50px;
        border: 8px solid white;
    }
    .ContainerColeccionLove {
       margin-top:-25vh;
       
        box-shadow:2px 4px 16px black;
      
    }
    .SacaBoxIzquierda{
        left:-10vw;
    }
    .ContainerColeccion {
        width: 35vw;
        height: 80vh;
        background-color: #F5E5D6;
        position:relative;
       
        
        
    }
    .ImagenAjustadaColeccion {

        width: 25vw;
        height: 60vh;
        border: 8px solid white;
    }
    .marginLeftCarousel {
        position: absolute;
        left: 16vw;
        width:120%;


    }
        .marginLeftCarousel::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            border: 4px solid #6b3272;
            bottom: 35px;
            right: 35px;
            z-index: 2;
        }

    .VentanaEnvioGratuito {
        background-color: #F5E5D6;
    }

    .VentanaNoPierdas {
        background-color: white;
    }

    .btnPortadaNaranja {
        padding: 8px;
        width: 40%;
        height: 50px;
        background-color: #F8A888;
        color: black;
        border-radius: 5px;
        border: solid 2px #F8A888;
        box-shadow: 0px 0px 5px 1px #2F2E2E;
    }

    .btnPortadaCeleste {
        padding: 8px;
        width: 50%;
        height: 50px;
        background-color: #CCEAEA;
        color: black;
        border-radius: 5px;
        border: solid 2px #CCEAEA;
        box-shadow: 0px 0px 5px 1px #2F2E2E;
    }

    .LetraGrandePortada {
        font-size: 120px;
        margin-top: -30px;
    }

    .marginLeftInicioPortada {
        margin-left: 7vw;
    }

    .FondoGris {
        background: #d6d6d6;
        width: 80%;
        
        padding-top:20vh;
    }
    .FondoGrisUp {
        background: #d6d6d6;
        width: 80%;
        height: 5vh;
        padding-top: 20vh;
    }

    

    .ContenedorBoxMensaje {
        width: 60%;
        height: 65%;
        box-shadow: 2px 4px 16px black;
        padding: 20px;
        border-radius: 10px;
    }

    .ImagenInicio {
        background: url("../../Imagenes/MiPrimerAlbum.png");
        background-size: cover;
    }

    .ContenedorEnvioGratuito {
        background: url("../../Imagenes/EnvioGratuitoImg.png");
        width: 100vw;
        height: 50vh;
        background-size: cover;
    }
    .LetraCursiva {
        font-family: 'Mea Culpa', cursive;
        font-size: 25px;
    }
    .ContenedorDescuento {
        background: url("../../Imagenes/DescuentoImg.jpg");
        width: 100vw;
        height: 50vh;
        background-size: cover;
    }

    .ImagenFondo {
        width: 100vw;
        height: 50vh;
        object-fit: scale-down;
        position: relative;
    }

    .ImagenAjustada {
        object-fit: contain;
        width: 100vw;
        height: 100vh;
    }

    .ContenedorImagen {
        width: 100%;
        height: 100vh;
    }

    .PosicionRelativa {
    }

    .FondoDerecho {
        background-color: #FFBBC1;
    }
    .ContenedorImagenesCarrousel{

        height:60vh;

    }
    .ImagenAjustaCarousel {
        height: 60vh;

    }
    .letraGrandeCuerpoInicio {
        font-size: 90px;
        margin-top: -30px;
    }

    .SacaBoxDerecha{
        left:40vw;
        top:-40vh;
    }


    

</style>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

<script>

    $('.carousel').carousel({
        duration:100
    });
    
   

</script>
