<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://memin128-001-site1.htempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win8017.site4now.net:8172/MsDeploy.axd?site=memin128-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>memin128-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>false</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>memin128-001</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="MemoriesByCocoEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL8001.site4now.net;Initial Catalog=db_a86684_memin128;User ID=db_a86684_memin128_admin;Password=Jandro1595;Application Name=EntityFramework" Name="Data Source=SQL8001.site4now.net;Initial Catalog=db_a86684_memin128;User ID=db_a86684_memin128_admin;Password=Jandro1595;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Albumes_MemoriesByCoco.Data.MemoriesByCocoEntities, Albumes_MemoriesByCoco" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MemoriesByCocoEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Data.Coco.csdl|res://*/Data.Coco.ssdl|res://*/Data.Coco.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL8001.site4now.net;Initial Catalog=db_a86684_memin128;User ID=db_a86684_memin128_admin;Password=Jandro1595;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>